.app {
  grid-row: 1 / span 100;
  grid-column: 1 / span 100;

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.addNote {
  height: 8vh;
  width: 8vh;

  margin: 1vh;
  background-color: #fffc65;
  border-bottom: .3vh solid black;
  border-right: .3vh solid black;
  border-top: none;
  border-left: none;
  font-size: 7vh;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.note {
  min-width: 40vh;
  max-width: 40vh;
  min-height: 40vh;
  max-height: 40vh;

  margin: 1vh;
  background-color: #fffc65;
  border-bottom: 0.3vh solid black;
  border-right: 0.3vh solid black;
  padding-bottom: 2vh;

  display: block;
}

.header {
  padding-top: 1vh;
  font-size: 3vh;
  background-color: #fffc65;

  display: flex;
  justify-content: flex-end;
}

.textContainer {
  max-height: 33vh;

  background-color: #fffc65;
  font-size: 2.5vh;
  padding-left: 2vh;
  padding-right: 2vh;
  overflow: scroll;
}

.deleteContainer {
  background-color: #fffc65;
  padding-right: 1vh;
}

.delete {
  background-color: tomato;
  border-radius: 50%;
  border: none;
  width: 2.5vh;
  height: 2.5vh;
}

.text {
  background-color: #fffc65;
}

.textArea {
  height: 33vh;
  width: 36vh;

  background-color: #fffc65;
  border: none;
  outline: none;
  resize: none;
  font-size: 2.5vh;
  font-family: sans-serif;
}

